body {
	background-color: #8aa1ab;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

h1 {
  text-align: center;
}

#create-order {
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 50px;
}

#order-list {
	padding-left: 3px;
}

.resultDiv {
	max-width: 24%;
	width: auto;
	height: auto;
	float: left;
	position: relative;
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
}

.resultList {
	list-style-type: none;
}

.resultList li {
	font-size: 14px;
}

#order-cart {
	padding-right: 3px;
}

#your-order {
	float: right;
	padding: 25px;
}


#cart {
	width: 24%;
	max-width: 24%;
	height: auto;
	float: right;
	position: relative;
/*
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
*/

}


.cartDiv {
	width: 100%;
	height: auto;
	position: relative;
	background-color: white;
	border-bottom: dotted 2px black;
}

.cartList {
	list-style-type: none;
}

.resultList li {
	font-size: 10px;
}

h5 .name {
	margin-bottom: 5px;
	text-font: bold;
}

.orderPicture {
	max-width: 150px;
	max-height: auto;
	min-width: 45px;
	min-height: auto;
	overflow: hidden;
	margin-top: 15px;
	padding: 5px;
}

.description {
	font-style: italic;
}