body {
	background-color: #8aa1ab;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

h1 {
  text-align: center;
}

#create-order {
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 50px;
}

#order-list {
	margin-bottom: 80px;
}

#cart {
	width: 30%;
	height: 100%;
	float: right;
	position: relative;
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
	text-align: center;
}

.resultDiv {
	width: 22%;
	float: left;
	position: relative;
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
}


.resultList {
	list-style-type: none;
	margin-right: 25px;
}

.resultList li {
	font-size: 14px;
}

.name {
	margin-bottom: 5px;
}

.orderPicture {
	max-width: 150px;
	max-height: auto;
	min-width: 55px;
	min-height: auto;
	overflow: hidden;
	margin-top: 15px;
}

.description {
	font-style: italic;
}